*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus,
.navi-list.current {
  color: #404bbf;
}

button {
  background-color: #4d5ae5;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  text-transform: capitalize;
  margin: 0 auto 72px;
}

h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* HEADR */
.header {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navi {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.logo-text {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px 0;
}

.header-logo-text {
  color: #2e2f42;
}

.navi-all-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 40px;
}

.navi-list {
  font-weight: 500;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navi-list.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  font-style: normal;
}

.address-all-list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  gap: 40px;
}

.address-list {
  padding: 24px 0;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MAIN PAGE */
.main-page {
}
.section {
  padding: 120px 0;
}

.slogan {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bg.jpg);
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  background-size: cover;
  margin: 0 auto;
  /* background-size: 1440px; */
  padding: 188px 0;
}

.slogan-text {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
}

.slogan-button {
  display: block;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 48px auto 0 auto;
}

.description {
  margin: 0;
}

.descr-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.descr-all-list {
  display: flex;
  gap: 24px;
}
.descr-list {
  width: calc((100% - 72px) / 4);
}
.descr-list-icon {
  display: flex;
  height: 112px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  margin-bottom: 8px;
}
.icon-descr {
  flex-shrink: 0;
}
.descr-list-title {
}
.descr-list-text {
  color: #434455;
  margin-top: 8px;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
}
.team-all-list {
  display: flex;
  gap: 24px;
}
.team-list {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-descr {
  padding: 32px 0;
  text-align: center;
}

.team-list-title {
}
.team-list-text {
  color: #434455;
  margin-bottom: 8px;
}
.list-socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: #404bbf;
}
.socials-icon {
  fill: #f4f4fd;
}
.portfol {
}
.portfol-title {
}
.portfol-all-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
  padding: 0;
}
.portfol-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfol-list:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfol-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfol-list:hover .overlay {
  transform: translateY(0%);
}

.portf-descr {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
}
.portfol-list-title {
}
.portfol-list-text {
  color: #434455;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.container.foot {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.footer-descr {
  padding: 0;
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 16px;
}
.footer-logo-text {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  width: 264px;
}

.footer-socials {
  padding: 0;
  margin-right: 80px;
}

.footer-elem-title {
  color: #fff;
  font-weight: 500;
  margin-bottom: 16px;
}
.list-socials.footr {
  gap: 16px;
}
.socials-link.foot:hover,
.socials-link.foot:focus {
  background-color: #31d0aa;
}

.footer-wrapper {
  margin-left: auto;
  width: 453px;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.foot-input {
  width: 264px;
  height: 40px;
  background-color: inherit;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  outline: none;
}

.foot-input::placeholder {
  color: #fff;
}

.footer-btn {
  display: inline-flex;
  min-width: 165px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
}

.foot-btn-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/* Modal window */

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: #ffffff;
  border: none;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  margin-bottom: 16px;
}

.modal-form {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 8px;
  padding: 0;
  margin: 0; */
}

.modal-item {
  margin-bottom: 8px;
}

.modal-item-comment {
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding: 0;
  margin-bottom: 4px;
}

.modal-wrapper-input {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  margin: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input.comment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  height: 120px;
  padding: 8px 16px;
  resize: none;
}

textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: rgba(46, 47, 66, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icons {
  fill: #4d5ae5;
}

.checkbox-wrapper {
  margin-bottom: 24px;
}

.modal-accept {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  user-select: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accept-form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .modal-accept > .accept-form {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* .accept-icon {
  opacity: 0;
} */

/* .checkbox:checked + .accept-form > .accept-icon {
  opacity: 1;
} */

.accept-link {
  display: inline-block;
  color: #4d5ae5;
  line-height: 1.33%;
  text-decoration-line: underline;
}

.form-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 24px auto 0 auto;
}
